/* linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100)) */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #24252a; */
  /* overflow-x: hidden; */
  font-size: 25;
}

body {
  background-color: #e6eef1;
}

nav {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
nav .logo {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.LandingText {
  font-family: "Permanent Marker";
  font-size: 4rem;
  padding: 25px;
}

.linksTitle {
  font-family: "Permanent Marker";
  font-size: 4rem;
  padding: 25px;
}

.linksSection {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.linksSection button {
  width: 50rem;
  /* height: 10em; */
  /* padding: 4em; */
  /* margin: 2em; */
  border-radius: 70px;
  background-color: black;
  /* border: #0000; */
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  color: #e6eef1;
  font-family: "Permanent Marker";
  font-size: 3.5rem;
  /* padding: 5em; */
  margin: 0.5em;
}
button img {
  padding: 25px;
}
.overlayLeftBtn {
  padding: 12px 24px;
  background-color: hsl(222, 100%, 95%);
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.overlayLeftBtn span {
  color: #e6eef1;
  position: relative;
  z-index: 1;
  transition: color 0.35s cubic-bezier(0.7, 0, 0.9, 1);
}

.overlayLeftBtn::before {
  content: "Let's Go!";
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 6px;
  transform: translate(-101%, -50%);
  width: 100%;
  height: 100%;
  background-color: #8fa7df;
  transition: transform 0.35s cubic-bezier(0.7, 0, 0.9, 1);
}

.overlayLeftBtn:hover span {
  color: hsl(222, 100%, 95%);
}

.overlayLeftBtn:hover::before {
  transform: translate(0, -50%);
}
