/* linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100)) */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: 25;
}

body {
  background-color: #e6eef1;
}

nav {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
nav .logo {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.LandingText {
  font-family: "Permanent Marker";
  font-size: 4rem;
  padding: 25px;
}

.linksTitle {
  font-family: "Permanent Marker";
  font-size: 4rem;
  padding: 25px;
}

.linksSection {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.linksSection button {
  width: 50rem;
  /* height: 10em; */
  /* padding: 4em; */
  /* margin: 2em; */
  border-radius: 70px;
  background-color: black;
  /* border: #0000; */
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  border: 0px;
  color: #e6eef1;
  font-family: "Permanent Marker";
  font-size: 1.5rem;
  /* padding: 5em; */
  margin: 0.5em;
}
button:hover {
  box-shadow: 10px 5px 30px #8fa7df;

  transition: 0.3s ease-in;
}
button img {
  padding: 25px;
}
.noteContainer {
  margin-top: 2em;
  margin-bottom: 2em;

  font-family: "Permanent Marker";
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.noteContainer p {
  width: 800px;
}

@media only screen and (max-width: 768px) {
  .LandingText {
    font-size: 2rem;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
  }
  .header {
    flex-direction: column;
    padding: 25px;
  }
  .linksTitle {
    font-size: 1.5rem;
  }
  .linksSection button {
    width: 40rem;
  }

  .noteContainer p {
    width: 500px;
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 450px) {
  .LandingText {
    font-size: 1.5rem;
    text-align: center;
  }
  .header {
    flex-direction: column;
    padding: 25px;
  }
  .header img {
    height: 200px;
  }
  .linksTitle {
    font-size: 1rem;
  }
  .linksSection button {
    width: 10rem;
  }
  .noteContainer p {
    width: 300px;
  }
}
